#nav li {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0;
  text-transform: uppercase;
  margin-right: 50px;
}

a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  text-shadow: .8px .8px #000000;
}

.logo {
  height: 200px;
  width: 200px;
  padding-top: 30px;
}

body {
  text-align: center;
  background-image: url("images/beermountains.jpg");
  background-position: center;
  background-size: cover;
  background-color: #E8DB4E;
  color: #FFC302;
}

h1 {
  font-family: "Arial Black", sans-serif;
  font-size: 60px;
  text-shadow: 2px 2px #000000;
  padding-top: 0px;
  padding-bottom: 10px;
}

h2 {
  font-family: Arial, sans-serif;
  font-size: 22px;
  color: #D66D00;
  text-shadow: 1px 1px #ffffff;
  text-transform: uppercase;
}

#slogan {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 30px;
  text-shadow: 1px 1px #000000;
  padding-top: 15px;
  padding-bottom: 200px;
}

#intro {
  color: black;
  font-size: 22px;
  text-shadow: 1px 1px #ffffff;
}

#contact {
  color: #FFC302;
  background-color: black;
}

p {
  color: white;
}

.beers {
  font-size: 16px;
  text-transform: uppercase;
}
